*.class

# Package Files #
*.war
*.ear
*.iml
*.ipr
*.iws
/api/
/classes/
/build/
/lib/
/out/
.idea/
settings.xml

/.gradle/

build/

gradle.properties
secret.asc

package.github.yml
package.hub.yml
package-lock.php.yml

vendor/maven-repo/org/
vendor/jphp/*
!vendor/jphp/.gitkeep
vendor/wizard-framework/*
!vendor/wizard-framework/.gitkeep
vendor/RichTextFX/*
!vendor/RichTextFX/.gitkeep
.fxe-java-home
.fxe-env.bat

develnext/misc/library/bundles/*/*.jar

out/
tmp-wizard-check/
