.caption .button {
    -fx-pref-height: 34px;
    -fx-min-height: 34px;
    -fx-max-height: 34px;
    -fx-pref-width: 46px;
    -fx-min-width: 46px;
    -fx-max-width: 46px;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.caption .button:hover,
.caption .button:pressed,
.caption .button:focused,
.caption .button:armed {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.caption {
    -fx-min-height: 34px;
    -fx-pref-height: 34px;
    -fx-max-height: 34px;
    -fx-max-width: 138px;
    -fx-background-color: transparent;
    -fx-padding: 0;
}
