.root {
    -ui-main-background: #1E1F22; /* Основной фон  */
    -ui-secondary-background: #2B2D30; /* Вторичный фон  */
    -ui-lines-separators: #393B40; /* Линии и разделители  */
    -ui-invactive: #DFE1E5; /* Не активный выбор */
    -ui-disabled: #A8ADBD; /* Не активный текст и placeholder */
    -ui-text-secondary: #818594; /* Вторичный текст  */
    -ui-text: #DFE1E5; /* Основной текст */
    -ui-placeholder-text: #494B57; /* PlaceHolder текст */
    -ui-text-link: #315FBD; /* Цвет ссылки */
    -ui-tree-selected: #7faaf8c9;
    -ui-tree-focused: #a0bdf8d0;
    -ui-border: #393B40;
    -ui-context-menu: #2B2D30; /* Цвет контекстного меню */
    -ui-context-menu-border: #393B40; /* Бордер контекстного меню */
    -ui-context-menu-hover: #2b2d30e6; /* Цвет при наведении на айтем */
    -ui-hoverd: derive(-ui-main-background, 20%);
    -fx-background-color: -ui-main-background;
    -fx-font-family: 'JetBrains Mono';
    

    -ui-border-tab:-ui-main-background, 50% ;
}

.moduleFormEditor {
    -fx-background-color: -ui-secondary-background;
}

.dn-console-list {
    -fx-font: 14px "JetBrains Mono";
    -fx-line-spacing: 25px;
    -fx-background-color: -ui-secondary-background; 
    -fx-text-fill: -ui-text;
    -fx-border-color:-ui-border;
    -fx-border-width: 0px;
    -fx-spacing: 10px;
    -fx-padding: 10px; /* Отступы */
}

.ui-text {
    -fx-text-fill: -ui-text;
}

.fxe-vertical-editor{
    -fx-background-color: -ui-secondary-background;
    -fx-border-color: -ui-border;
    -fx-border-radis: 3px;
    -fx-border-width: 1;
    -fx-background-radius: 3px;
}


.titled-pane {
    -fx-text-fill: -ui-text;
    -fx-margin: 60 0 0 0 ; 
}
.titled-pane:focused {
    -fx-border-width: 0;
}
.titled-pane > .title {
    -fx-margin: 60 0 0 0 ; 
    -fx-background-color: -ui-main-background;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 4 4 0 0, 3 3 0 0, 4 4 0 0;
    -fx-padding: 0.3333em 0.75em 0.3333em 0.75em; /* 4 9 4 9 */
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-color: transparent;
    -fx-background-insets: -1, 0;
    -fx-effect: dropshadow(two-pass-box , -ui-text-link, 5, 0.2 , 0, 0);
}
.titled-pane > .title > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 12;
    -fx-background-radius: 12;
    -fx-padding: 0.0em 0.583em 0.0em 0.0em; /* 0 7 0 0 */
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: transparent;
    -fx-border-color: -ui-text;
    -fx-border-width: 1.3;
    -fx-shape: "M6 13L11 8L6 3";
    -fx-padding: 0.4em 0.2em;
    -fx-rotate: 90;
}
.titled-pane > .title:hover {
    -fx-color: rgb(245, 245, 245);
}
.titled-pane > *.content {
    -fx-border-color: -ui-secondary-background;
    -fx-border-insets: -1 0 0 0;
    -fx-background-color: transparent;
    -fx-border-radius: 0;
}

/* Начало контекстного меню */
.context-menu {
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-color: -ui-context-menu-border;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-min-width: 220;
    -fx-spacing: 6;
}
.context-menu .menu-item:hover,
.context-menu .menu-item:focused {
    -fx-background-color: derive(-ui-context-menu, 20%);
}
.context-menu .label {
    -fx-text-fill:  -ui-text;
    -fx-text-size: 17px;
}
/* Конец контекстного меню */


.split-pane > .split-pane-divider {
    -fx-padding: 0 0.05em 0 0.05em; /* 0 3 0 3 */
    -fx-background-color: transparent;
}
/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -ui-lines-separators;
   -fx-background-insets: 0 0 0 0;
   -fx-border-color: -ui-border;
   -fx-border-style: segments(0.166667em, 0.166667em);
}
/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: -ui-lines-separators;
   -fx-background-insets: 0 0 0 0;
   -fx-border-color: -ui-border;
   -fx-border-style: segments(0.166667em, 0.166667em);
}



.ui-topBar .context-menu {
    -fx-background-color: -ui-secondary-background;
    -fx-background-radius: 8px;
    -fx-border-color: -ui-border;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-min-width: 140px;
    -fx-padding: 5px 5px 5px 5px;
    -fx-spacing: 3px;
    -fx-font-size: 13px;
    -fx-alignment: center-left;
}
.ui-topBar .container {
    -fx-background-color: transparent;
}
.ui-topBar .menu-item:hover,
.menu:hover, .menu-item:hover {
    -fx-background-color: -ui-hoverd;
    -fx-background-radius: 3;
}
.ui-topBar .menu-button:focused,
.ui-menu-bar .menu-button:showing{
    -fx-background-color: -ui-hoverd;
    -fx-background-radius: 3;
}
.ui-topBar .menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: -ui-text;
    -fx-padding: 3px 7px;
}
.ui-topBar .label {
    -fx-text-fill:  -ui-text;
}



.fxe-button {
    -fx-background-color: transparent;
    -fx-border-color: -ui-lines-separators;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: -ui-text;
}

.fxe-button:hover {
    -fx-background-color: -ui-hoverd;
    -fx-border-color: -ui-border;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: -ui-text;
}


.split-menu-button {
    -fx-background-color: transparent;
    -fx-border-color: -ui-lines-separators;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: -ui-text;
}
.split-menu-button:hover {
    -fx-background-color: -ui-hoverd;
    -fx-border-color: -ui-border;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-text-fill: -ui-text;
}
.split-menu-button > .label {
    -fx-text-fill: -ui-text;
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
    -fx-padding: 0.333333em 0.667em 0.333333em 0.667em; /* 4 8 4 8 */
}
.split-menu-button > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.667em; /* 6 8 6 8 */
}
.split-menu-button:focused {
    -fx-background-color: -ui-hoverd;
    -fx-background-insets: -0.2;
    -fx-background-radius: 3;
}
.split-menu-button:focused > .label {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 1 1, 2 1 2 2, -1.4 0 -1.4 -1.4, 2.6 1.6 2.6 2.6;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 4 0 0 4, 0;
}
.split-menu-button:focused > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 1, 2, -1.4, 2.6;
    -fx-background-radius: 0 2 2 0, 0 1 1 0, 0 4 4 0, 0;
}







.dn-file-tab-pane {
    -fx-border-width: 0;
    -fx-background-color: -ui-border-tab;
}


.dn-file-tab-pane  .tab-header-area {
   -fx-background-color:  -ui-border-tab;
    
}

.dn-file-tab-pane .tab-header-background {

     -fx-background-color: -ui-border-tab;
}

.dn-file-tab-pane .tab {
    -fx-background-color: -ui-border-tab;
    -fx-background-radius: 3px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -ui-border;
    -fx-text-fill: -ui-text;
    -fx-padding: 6 4 0 6;

}

.dn-file-tab-pane  .tab:selected {
    -fx-border-color: -ui-tree-selected;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: -ui-text;
}

.dn-file-tab-pane .tab:selected:hover {
    -fx-background-color: -ui-hoverd;
    -fx-border-color: -ui-hoverd;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: -ui-text;
}

.dn-file-tab-pane .tab:hover {
    -fx-background-color: -ui-hoverd;
    -fx-border-color: -ui-hoverd;
    -fx-text-fill: -ui-text;
    -fx-border-width: 0 0 2 0;
}

.dn-file-tab-pane .tab-label {
    -fx-text-fill: -ui-text;
}

.dn-file-tab-pane .focus-indicator {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}


.flow-list-view
{
    -fx-background-color: -ui-secondary-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px;
    -fx-border-color: -ui-border;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-padding: 6; /* увеличение внутренних отступов */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0.0, 0, 0);
    -fx-spacing: 2;
}
.flow-list-view .focus-indicator {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.flow-list-view .list-cell
{
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: -fx-color-text-fill;
    -fx-background-color: transparent;
}
.flow-list-view .list-cell:hover {
    -fx-text-fill: -ui-text;
    -fx-background-color: -ui-hoverd;
}
.flow-list-view .list-cell:selected {
    -fx-text-fill: -ui-text;
    -fx-background-color: -ui-tree-selected;
}























.ui-paneVbox {
    -fx-background-color:  -ui-main-background;
    -fx-color: -ui-lines-separators;
}

.ui-topBar {
    -fx-background-color:  -ui-secondary-background;
    -fx-text-fill: -ui-text;
    -fx-text-size: 14px;
    -fx-color: -ui-lines-separators;
}
.ui-headPane {
    -fx-background-color:  -ui-main-background;
    -fx-color: -ui-lines-separators;
}


/* Цвет дерева */
.ui-treeView {
    -fx-background-color: -ui-main-background;
    -fx-padding: 5px;
    -fx-border-width: 0; /* Убираем границы */
    -fx-pref-width: 0;
    -fx-focus-color: -ui-main-background; /* Убираем цвет фокуса */
    -fx-faint-focus-color: -ui-main-background; /* Убираем цвет фокуса */
    -fx-background-insets: 0; /* Убираем внутренние отступы */
    -fx-color: -ui-lines-separators;
}
.ui-treeView .tree-cell {
    -fx-background-color: -ui-main-background;
    -fx-text-fill: -ui-text;
    -fx-font-size: 13px;
    -fx-border-width: 0; /* Убираем границы */
    -fx-pref-width: 0;
        -fx-focus-color: -ui-main-background; /* Убираем цвет фокуса */
    -fx-faint-focus-color: -ui-main-background /* Убираем цвет фокуса */
   -fx-color: -ui-lines-separators;
}
.ui-treeView:focused {
    -fx-background-color: transparent; /* Убираем фон при фокусировке на дереве */
}
.ui-treeView .tree-cell:focused {
    -fx-background-color: -ui-secondary-background; /* Задаем фон при фокусировке на ячейке */
    -fx-text-fill: -ui-text;
    -fx-border-width: 0; /* Убираем границы */
    -fx-pref-width: 0;
}
.ui-treeView .tree-cell:selected {
    -fx-background-color: -ui-secondary-background; /* Задаем фон для выбранной ячейки */
    -fx-text-fill: -ui-text;
    -fx-pref-width: 0;
}
.tree-disclosure-node > .arrow {
    -fx-shape: "M0,0 L7,4 L0,8 L2,4 Z";
    -fx-background-color:  -ui-text;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-shape-padding: 0;
    -fx-border-width: 0;
}
.ui-treeView .scroll-bar:horizontal {
    -fx-background-color: -ui-secondary-background;
}
.ui-treeView .scroll-bar:vertical {
    -fx-background-color: -ui-secondary-background;
}
.ui-treeView .scroll-bar .thumb {
    -fx-background-color: -ui-hoverd;
    -fx-background-radius: 1px;
}
.ui-treeView .scroll-bar .thumb:hover {
    -fx-background-color: -ui-hoverd;
    -fx-background-radius: 1px;
    -fx-padding: 30px;
}
.ui-treeView .scroll-bar .increment-button,
.ui-treeView .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.ui-treeView .scroll-bar .increment-arrow,
.ui-treeView .scroll-bar .decrement-arrow {
    -fx-background-color: -ui-hoverd;
    -fx-border-width: 0;
}
/* Конец дерева */

.fullscreen-modal {
    -fx-alignment: center;
}
.fullscreen-modal .content {
    -fx-alignment: center;
}
.fullscreen-modal .content .anchor {
    -fx-alignment: center;
    -fx-padding: 10;

}
.fullscreen-modal .content .dialog-container {
    -fx-alignment: center;
    -fx-max-width: 350;
    -fx-padding: 15;
    -fx-spacing: 15;
    -fx-border-radius: 5;
    -fx-background-color: rgba(22, 22, 22, 0.95);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.5), 10, 0.0 , 0, 0);
}

/* Контейнер диалога на главной форме */
.fullscreen-modal .content .title {

}
.fullscreen-modal .content .message {

}
.fullscreen-modal .content .title {
    
}
.fullscreen-modal .content .button-container {
    -fx-alignment: center;
    -fx-spacing: 10;
}
.fullscreen-modal .content .button-container .button {
    -fx-min-width: 75;
    -fx-min-height: 32;
}

/* Контейнер просмотра превью на главной форме */
.fullscreen-modal .content .image {
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.3), 10, 0.0 , 0, 0);
}
.fullscreen-modal .content .box-param {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.5), 10, 0.0 , 0, 0);
    -fx-padding: 5 10 5 10;
    -fx-cursor: hand;
}