.root {
    -ui-main-background: #FFFFFF; /* Основной фон  */
    -ui-secondary-background: #F7F8FA; /* Вторичный фон  */
    -ui-lines-separators: #EBECF0; /* Линии и разделители  */
    -ui-invactive: #DFE1E5; /* Не активный выбор */
    -ui-disabled: #A8ADBD; /* Не активный текст и placeholder */
    -ui-text-secondary: #818594; /* Вторичный текст  */
    -ui-text: #000000; /* Основной текст */
    -ui-placeholder-text: #494B57; /* PlaceHolder текст */
    -ui-text-link: #315FBD; /* Цвет ссылки */
    -ui-tree-selected: #7faaf8c9;
    -ui-tree-focused: #a0bdf8d0;
    -ui-border: #6C707E;
    -ui-hoverd: #6c707ecc;
    -fx-border-color: -ui-border;
}

.ui-paneVbox {
    -fx-background-color:  -ui-main-background;
}

.ui-topBar {
    -fx-background-color:  -ui-secondary-background;

}
.ui-menu-bar .context-menu {
    -fx-background-color: -ui-secondary-background;
    -fx-background-radius: 8px;
    -fx-border-color: -ui-border;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-min-width: 180px;
    -fx-padding: 8px 8px 8px 8px;
    -fx-spacing: 3px;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}
.ui-menu-bar .container {
    -fx-background-color: transparent;
}
.ui-menu-bar .menu-item:hover,
.menu:hover, .menu-item:hover {
    -fx-background-color: derive(-ui-context-menu, 20%);
    -fx-background-radius: 3;
}
.ui-menu-bar .menu-button:focused,
.ui-menu-bar .menu-button:showing{
    -fx-background-color: derive(-ui-context-menu, 20%);
    -fx-background-radius: 3;
}
.ui-menu-bar .menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: -ui-text-primary;
    -fx-padding: 5px 10px;
}
.ui-menu-bar .label {
    -fx-text-fill:  -ui-text-primary;
}

.ui-headPane {
    -fx-background-color:  -ui-main-background;
}

.ui-tabPane-file {
    -fx-background-color: -ui-main-background;
}

/* Начало css табпейна */
.ui-horizontal-tab-pane {
    -fx-background-color: -ui-secondary-background;
    -fx-background-radius: 7px 7px 7px 7px;
}
.ui-horizontal-tab-pane .tab-header-background{
    -fx-background-color: -ui-secondary-background;
}
.ui-horizontal-tab-pane .tab-pane {

}
.ui-horizontal-tab-pane .tab {
    -fx-background-color: -ui-secondary-background;
    -fx-padding: 10px;
    -fx-background-radius: 7px 7px 7px 7px;
}
.ui-horizontal-tab-pane .tab-header-area>.headers-region>.tab:selected .focus-indicator {
    -fx-border-width: 0;
}
.ui-horizontal-tab-pane .tab:selected {
    -fx-background-color: -ui-tree-selected;
    -fx-padding: 10px;
    -fx-background-radius: 7px 7px 7px 7px;
}
.ui-horizontal-tab-pane .tab:focused {
    -fx-background-color: -ui-tree-selected;
    -fx-padding: 10px;
    -fx-background-radius: 7px 7px 7px 7px;
}
.ui-horizontal-tab-pane .tab-content-area {
    -fx-padding: 0 2px 0 3px;
}
.ui-horizontal-tab-pane .tab:hover {
    -fx-background-color: -ui-hoverd;
}
.ui-horizontal-tab-pane .tab-header-area {
    -fx-background-color: transparent;
}
.ui-horizontal-tab-pane .tab-label {
    -fx-text-fill: white;
    -fx-alignment: center;
}
.ui-horizontal-tab-pane .tab-graphic {
    -fx-alignment: center-left;
}
/* Конец css табпейна */

/* Цвет дерева */
.ui-treeView {
    -fx-background-color: -ui-main-background;
    -fx-padding: 5px;
}
.ui-treeView .tree-cell {
    -fx-background-color: -ui-secondary-background;
    -fx-text-fill: -ui-text;
    -fx-font-size: 13px;

}
.ui-treeView .tree-cell:focused {
    -fx-background-color: -ui-tree-focused;
}
.ui-treeView .tree-cell:selected {
    -fx-background-color: -ui-tree-focused;

}
.tree-disclosure-node > .arrow {
    -fx-shape: "M0,0 L7,4 L0,8 L2,4 Z"; /* Используйте правильную форму для стрелки */
    -fx-background-color:  -ui-text;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-shape-padding: 0;
    -fx-border-width: 0;
}
.ui-treeView .scroll-bar:horizontal {
    -fx-background-color: -ui-secondary-background;
}
.ui-treeView .scroll-bar:vertical {
    -fx-background-color: -ui-secondary-background;
}
.ui-treeView .scroll-bar .thumb {
    -fx-background-color: -ui-hoverd;
    -fx-background-radius: 1px;

}
.ui-treeView .scroll-bar .thumb:hover {
    -fx-background-color: -ui-hoverd;
    -fx-background-radius: 1px;
    -fx-padding: 30px;
}
.ui-treeView .scroll-bar .increment-button,
.ui-treeView .scroll-bar .decrement-button {
    -fx-background-color: transparent;
}
.ui-treeView .scroll-bar .increment-arrow,
.ui-treeView .scroll-bar .decrement-arrow {
    -fx-background-color: -ui-hoverd;
}
/* Конец дерева */
