.syntax-text-area {
    -fx-background-color: #1E1F22;
    -fx-background-fill: #2B2D30;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #2B2D30;
}

.syntax-text-area .text {
    -fx-fill: #BDC0C9;
}

.syntax-text-area .gutter {
    -fx-border-color: #6F737A;
    -fx-background-color: #1E1F22;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0 8 0 8;
    -fx-text-fill: #4E5157;
}


.syntax-text-area .caret {
    -fx-stroke: #BDC0C9;
}

.syntax-text-area .text.semicolon {
    -fx-fill: #BDC0C9;
}

.syntax-text-area .text.control, .syntax-text-area .text.operator {
    -fx-fill: #BDC0C9;
}

.syntax-text-area .text.comment {
    -fx-fill: #648769;
    -fx-font-style: italic;
}

.syntax-text-area .text.selector {
    -fx-fill: red;
}

.syntax-text-area .text.keyword {
    -fx-fill: #CF84CF;
}

.syntax-text-area .text.string {
    -fx-fill: #afc9a0;
}

.syntax-text-area .text.number {
    -fx-fill: #70AEFF;
}

.syntax-text-area .text.variable {
    -fx-fill: #D69A6B;
}

.syntax-text-area .text.label {
    -fx-fill: #E6E1DC;
}